.container-fluid{
    font-family: 'Comic Sans MS'; 
    }
.blog-header{
    background-color: #c0df5b;
}
.logo{
    white-space: nowrap;
}
a{
    text-decoration: none;
}
.login-nav{
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.icon:hover{
   border: 1px solid white;
   border-radius:10%;
   cursor: pointer;
}
.nav-scroller{
    background-color: #ebedf1;
    position: relative;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
  }
.nav-scroller .text{
    color: #89395a;
    border: 1px solid white;
    border-radius: 15em/1em;
}
.special-container{
    background-color: #f9db7d;
    text-align: center;
    border: 2px solid #89395a;
}
.special-text{
    text-align: center;
    color:white;
    font-size: 4em;
    word-spacing: 0.5em;
    padding: 2em 0;
    overflow-x: auto;
    flex-wrap:nowrap;
}
.card{
    margin-top: 1em;
    margin-bottom:1em;
    border: 13px solid #f9db7d;
    border-radius: 3em;
}
.card-header{
    background-color: #a4d8e7;
    margin: auto;
    color: white;
    height: 3em;
    margin-top: 1em;
}
.card-body{
    background-color: #f9db7d;
    padding: 0;
}
.lead-view{
    background-color: #a4d8e7;
    border: 2px solid antiquewhite;
    border-radius: 6em/1em;
}
.offers{
    border: 5px solid #c0df5b;
    background-color: #f9db7d;
    font-size: 2em;
    text-align: center;
    padding: 1.5em;
    color: white;
    overflow-x: auto;
    border-radius: 0.8em;
    display: flex;
    flex-wrap: nowrap;
    max-width:33%;
    margin: auto;
    width:33%;

}
.offer-text{
    margin:auto;
    overflow-x: auto;
    background-color: #a4d8e7;
    border-radius: 4em/1em;
    min-width: 39%;
}
footer{
    background-color: #c0df5b;
}
footer p{
    font-size: 3em;
    color: white;
    text-align: center;
    padding: 1em;
}