<div class="container-fluid">
  <header class="blog-header">
      <div class="d-flex flex-md-row flex-column flex-nowrap justify-content-between align-items-center">
    <div class="col-2 logo">
        <a class="text-muted lead" href="#">OVF Logo</a>
    </div>
    <div class="col-7 d-flex justify-content-start align-items-center">
        <input type="text" placeholder="Search..." class="form-control"/>
        <button type="button" class="btn btn-outline-success"><i class="fa fa-search"></i></button>
    </div>
    <div class="col-md-3 col-lg-3 d-flex col-sm-6 justify-content-end align-items-center login-nav">
        <a class="text-muted p-3 icon" href="#" [routerLink]="'/login'">Login<i class="fa fa-arrow-down pt-1 px-2"></i></a>
        <a class="text-muted p-3 icon" href="#">More<i class="fa fa fa-arrow-down pt-1 px-2"></i></a>
        <a class="text-muted p-3 icon" href="#">Cart</a>
    </div>
  </div>
  </header>
  <div class="nav-scroller py-1 mb-1">
  <nav class="nav d-flex justify-content-between align-items-center">
      <a class="px-2 py-1 mx-2 text" href="#">Beverage</a>
      <a class="px-2 py-1 text" href="#">Fruits and Vegetables</a>
      <a class="px-2 py-1 text" href="#">Grains and Staples</a>
      <a class="px-2 py-1 text" href="#">Sweets</a>
      <a class="px-2 py-1 text" href="#">Snacks</a>
      <a class="px-2 py-1 text" href="#">Milk and milk products</a>
      <a class="px-2 py-1 text mx-2" href="#">OVF Value Pack</a>
  </nav>
</div>
  <div class="d-flex flex-md-row flex-nowrap justify-content-between align-items-center special-container">
    <div class="col-2 d-flex justify-content-start special-text">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </div>
    <div class="col-8">
       <div class="special-text">SPECIAL OFFERS</div>
       </div>
    <div class="col-2 d-flex justify-content-end special-text">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </div>
 </div>

<div class="container-fluid mt-1" style="background-color: #c0df5b; overflow-x: auto;">
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <span class="text-white lead">Beverage </span>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <span class="text-white lead lead-view mt-1">View All </span>
          </div>
 <div class="d-flex d-flex-row">
  <div class="col-2">
      <div class="card">
        <div class="card-header">
          <p class="card-text">60% OFF</p>
        </div>
        <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
        <div class="card-body">
          <em><strong>RS: 100 <s>300</s></strong></em>
        </div>
      </div>
  </div>
  <div class="col-2">
      <div class="card">
        <div class="card-header">
          <p class="card-text">60% OFF</p>
        </div>
        <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
        <div class="card-body">
          <em><strong>RS: 100 <s>300</s></strong></em>
        </div>
      </div>
  </div>
  <div class="col-2">
      <div class="card">
        <div class="card-header">
          <p class="card-text">60% OFF</p>
        </div>
        <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
        <div class="card-body">
          <em><strong>RS: 100 <s>300</s></strong></em>
        </div>
      </div>
  </div> 
  <div class="col-2">
      <div class="card">
        <div class="card-header">
          <p class="card-text">60% OFF</p>
        </div>
        <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
        <div class="card-body">
          <em><strong>RS: 100 <s>300</s></strong></em>
        </div>
      </div>
  </div>
  <div class="col-2">
      <div class="card">
        <div class="card-header">
          <p class="card-text">60% OFF</p>
        </div>
        <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
        <div class="card-body">
          <em><strong>RS: 100 <s>300</s></strong></em>
        </div>
      </div>
  </div>
  <div class="col-2">
      <div class="card">
        <div class="card-header">
          <p class="card-text">60% OFF</p>
        </div>
        <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
        <div class="card-body">
          <em><strong>RS: 100 <s>300</s></strong></em>
        </div>
      </div>
  </div>
 </div>
</div>
</div>
<div class="container-fluid mt-1" style="background-color: #c0df5b; overflow-x: auto;">
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <span class="text-white lead">Beverage </span>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <span class="text-white lead lead-view mt-1">View All </span>
          </div>
 <div class="d-flex d-flex-row mt-1" style="background-color: #c0df5b;">
    <div class="col-2">
        <div class="card">
          <div class="card-header">
            <p class="card-text">60% OFF</p>
          </div>
          <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
          <div class="card-body">
            <em><strong>RS: 100 <s>300</s></strong></em>
          </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
          <div class="card-header">
            <p class="card-text">60% OFF</p>
          </div>
          <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
          <div class="card-body">
            <em><strong>RS: 100 <s>300</s></strong></em>
          </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
          <div class="card-header">
            <p class="card-text">60% OFF</p>
          </div>
          <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
          <div class="card-body">
            <em><strong>RS: 100 <s>300</s></strong></em>
          </div>
        </div>
    </div> 
    <div class="col-2">
        <div class="card">
          <div class="card-header">
            <p class="card-text">60% OFF</p>
          </div>
          <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
          <div class="card-body">
            <em><strong>RS: 100 <s>300</s></strong></em>
          </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
          <div class="card-header">
            <p class="card-text">60% OFF</p>
          </div>
          <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
          <div class="card-body">
            <em><strong>RS: 100 <s>300</s></strong></em>
          </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
          <div class="card-header">
            <p class="card-text">60% OFF</p>
          </div>
          <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
          <div class="card-body">
            <em><strong>RS: 100 <s>300</s></strong></em>
          </div>
        </div>
    </div>
   </div>
   </div>
   </div>
   <div class="container-fluid mt-1" style="background-color: #c0df5b; overflow-x: auto;">
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <span class="text-white lead">Beverage </span>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <span class="text-white lead lead-view mt-1">View All </span>
          </div>
   <div class="d-flex d-flex-row mt-1" style="background-color: #c0df5b;">
      <div class="col-2">
          <div class="card">
            <div class="card-header">
              <p class="card-text">60% OFF</p>
            </div>
            <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
            <div class="card-body">
              <em><strong>RS: 100 <s>300</s></strong></em>
            </div>
          </div>
      </div>
      <div class="col-2">
          <div class="card">
            <div class="card-header">
              <p class="card-text">60% OFF</p>
            </div>
            <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
            <div class="card-body">
              <em><strong>RS: 100 <s>300</s></strong></em>
            </div>
          </div>
      </div>
      <div class="col-2">
          <div class="card">
            <div class="card-header">
              <p class="card-text">60% OFF</p>
            </div>
            <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
            <div class="card-body">
              <em><strong>RS: 100 <s>300</s></strong></em>
            </div>
          </div>
      </div> 
      <div class="col-2">
          <div class="card">
            <div class="card-header">
              <p class="card-text">60% OFF</p>
            </div>
            <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
            <div class="card-body">
              <em><strong>RS: 100 <s>300</s></strong></em>
            </div>
          </div>
      </div>
      <div class="col-2">
          <div class="card">
            <div class="card-header">
              <p class="card-text">60% OFF</p>
            </div>
            <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
            <div class="card-body">
              <em><strong>RS: 100 <s>300</s></strong></em>
            </div>
          </div>
      </div>
      <div class="col-2">
          <div class="card">
            <div class="card-header">
              <p class="card-text">60% OFF</p>
            </div>
            <img class="card-img-top" src="assets/vegetable.png" alt="fruits-and-vegetables" style="width:100%"/>
            <div class="card-body">
              <em><strong>RS: 100 <s>300</s></strong></em>
            </div>
          </div>
      </div>
     </div>
    </div>
    </div>
<div class="my-1 container-fluid" style="overflow-x: auto;">
  <div class="row">
    <div class="offers">
       <span class="offer-text">OFFERS</span>
    </div>
    <div class="offers">
        <span class="offer-text">OFFERS</span>
    </div>
    <div class="offers">
        <span class="offer-text">OFFERS</span>
    </div>
  </div>
</div>
<footer class="mx-0">
    <p>FOOTER</p>
</footer>
</div>