.container{
    font-family: 'Comic Sans MS'; 
    margin-top: 70px;

}
.forgotPassword{
    max-width: 50%;
    width: 100%;
    background-color: beige;
    padding: 20px;
    margin: auto;

}
h1{
    margin-bottom: 41px;
}
